@font-face {
  font-family: MyriadPro-Light;
  src: url('/stylesheets/fonts/MyriadPro-Light.otf');
}
@font-face {
  font-family: MyriadPro-Regular;
  src: url('/stylesheets/fonts/MYRIADPRO-REGULAR.OTF');
}
@font-face {
  font-family: MyriadPro-Semibold;
  src: url('/stylesheets/fonts/MYRIADPRO-SEMIBOLD.OTF');
}

@font-face {
  font-family: Montserrat-Light;
  src: url('/stylesheets/fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: Montserrat-Regular;
  src: url('/stylesheets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Montserrat-Semibold;
  src: url('/stylesheets/fonts/Montserrat-SemiBold.ttf');
}
body {
	width : 100%;
  height : 100%;
  font-family: MyriadPro-Light!important;
}
html {
    min-height: 100%;
    scroll-behavior: smooth;
    font-family: MyriadPro-Light!important;
}
strong {
  font-family: MyriadPro-Semibold!important;
}
.brandTitle {
  letter-spacing: 10px;
}
.Ltitle {
  font-family : Montserrat-Light!important;
}
.Rtitle {
  font-family : Montserrat-Regular!important;
}
.Btitle {
  font-family : Montserrat-SemiBold!important;
}

.bigBlock {
  height : 100vh;
  margin-top : -15vh!important;
  background-color:white;
  background:url("/images/test3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mainNavbar .container-fluid {
  height : 15vh!important;
}

.purpleLink {
  text-decoration : none;
  color : #945df0!important;
}
.purpleLink:hover {
  text-decoration: underline;
}

.redLink {
  text-decoration : none;
  color : #F93154!important;
}
.redLink:hover {
  text-decoration: underline;
}
.btn-dark-purple {
  color : #fff!important;
  background-color : #733bc4!important;
}
.btn-dark-purple:hover {
  background-color : #502084!important;
}
.btn-test {
  color : #fff!important;
  background: #03A9F4!important;
}
.btn-purple {
  color : #fff!important;
  background-color : #945df0!important;
}
.btn-purple:hover {
  background-color : #733bc4!important;
}
.btn-outline-purple {
  border : 1px solid #945df0!important;
  background-color : #fff!important;
  color : #945df0!important;
}
.btn-outline-purple:hover {
  border : none!important;
  background-color : #945df0!important;
  color : #fff!important;
}

.btn-white {
  background : #fff!important;
}
.btn-white:hover {
  background : #945df0!important;
  color : #fff!important;
}

.mainCard {
  background-color :#fff!important;
  margin-top : -20vh;
  border : none!important;
}
.customToastContainer {
  margin-top : 15vh!important;
  height : 20vh!important;
}
.fa { 
  font-family: 'FontAwesome' !important; 
}
.navbar {
  z-index:10!important;
}

.text-grey { color : #dfe7e6!important }
.bg-grey { background : #dfe7e6!important }
.text-light-purple { color : #bf9ef2!important }
.bg-light-purple { background : #bf9ef2!important }
.text-medium-purple { color : #b57ef1!important }
.bg-medium-purple { background : #b57ef1!important }
.text-purple { color : #955df0!important }
.bg-purple { color : #955df0!important }
.text-dark-purple { color : #733bc4!important }
.bg-dark-purple { color : #733bc4!important }
.text-doom-purple { color : #502084!important }
.bg-doom-purple { color : #502084!important }